<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Allex_RL_Model_4_contact_point">
  <link
    name="torso">
    <inertial>
      <origin
        xyz="2.98461073025586E-19 1.19384429210234E-18 -0.0125"
        rpy="0 0 0" />
      <mass
        value="0.709500353486371" />
      <inertia
        ixx="0.00402779036050359"
        ixy="-1.31282094699689E-18"
        ixz="-4.46062750606306E-21"
        iyy="0.000936545497263993"
        iyz="4.78673307497893E-20"
        izz="0.00489042957094609" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/torso.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.6 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/torso.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="r_hy">
    <inertial>
      <origin
        xyz="-0.0307639653073301 8.82162740574594E-05 0.0464042856123114"
        rpy="0 0 0" />
      <mass
        value="0.362744860196153" />
      <inertia
        ixx="0.00105819813154338"
        ixy="6.1155311016537E-07"
        ixz="0.00030674608676831"
        iyy="0.00121612939375434"
        iyz="1.24493713959402E-06"
        izz="0.000681837117020169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.6 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hy.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_HY"
    type="revolute">
    <origin
      xyz="0 -0.09 -0.025"
      rpy="3.1416 0 0" />
    <parent
      link="torso" />
    <child
      link="r_hy" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_hr">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 1.38777878078145E-17 0.0885796185674785"
        rpy="0 0 0" />
      <mass
        value="1.11972125547743" />
      <inertia
        ixx="0.00244660588868756"
        ixy="3.10110708676493E-20"
        ixz="1.17621443249376E-19"
        iyy="0.00255806559374616"
        iyz="9.37515801654521E-20"
        izz="0.00232918495386242" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.505882352941176 0.713725490196078 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_HR"
    type="revolute">
    <origin
      xyz="-0.065 -0.0001 0.13"
      rpy="0 1.5708 0" />
    <parent
      link="r_hy" />
    <child
      link="r_hr" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_hp">
    <inertial>
      <origin
        xyz="-0.191641753523999 -0.0255643148439554 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="4.38379685452695" />
      <inertia
        ixx="0.013597099564388"
        ixy="0.00262481922506059"
        ixz="2.41083693741826E-18"
        iyy="0.0397258328465048"
        iyz="-5.49455936856799E-19"
        izz="0.0387332411800925" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_HP"
    type="revolute">
    <origin
      xyz="0 0 0.09"
      rpy="-1.5708 0 0" />
    <parent
      link="r_hr" />
    <child
      link="r_hp" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_kn">
    <inertial>
      <origin
        xyz="-0.0132004609210514 -0.121917216922937 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="2.77807025175996" />
      <inertia
        ixx="0.0284705025097801"
        ixy="0.0021509799289004"
        ixz="3.26950356231998E-19"
        iyy="0.00443774640925794"
        iyz="1.23342854570958E-18"
        izz="0.0293092079805787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_kn.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.764705882352941 0.87843137254902 0.741176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_kn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_KN"
    type="revolute">
    <origin
      xyz="-0.35 0 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="r_hp" />
    <child
      link="r_kn" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_ak">
    <inertial>
      <origin
        xyz="-0.00660924567798125 0.00381584977132277 0"
        rpy="0 0 0" />
      <mass
        value="0.0571830748904514" />
      <inertia
        ixx="3.24188467240926E-05"
        ixy="1.00684067870316E-06"
        ixz="-6.61850308358951E-22"
        iyy="3.35814461978533E-05"
        iyz="6.2268614446775E-22"
        izz="1.06578672815214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_ak.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4 0.2 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_ak.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_AK"
    type="revolute">
    <origin
      xyz="0 -0.36 0"
      rpy="0 0 0" />
    <parent
      link="r_kn" />
    <child
      link="r_ak" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_ft">
    <inertial>
      <origin
        xyz="-0.0437269069802954 6.55927812065471E-11 -0.0122712934836515"
        rpy="0 0 0" />
      <mass
        value="0.167694950970076" />
      <inertia
        ixx="0.000463468397555933"
        ixy="1.18394527736474E-10"
        ixz="0.000193843083754541"
        iyy="0.00056608822654417"
        iyz="7.7930232693903E-11"
        izz="0.000172594872419313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_ft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.862745098039216 0.890196078431372 0.603921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_ft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_FT"
    type="revolute">
    <origin
      xyz="-0.028579 0.0165 0"
      rpy="-1.5708 0 1.0472" />
    <parent
      link="r_ak" />
    <child
      link="r_ft" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_hill">
    <inertial>
      <origin
        xyz="0.0173165306391366 1.02576670352184E-08 0.00384851618045801"
        rpy="0 0 0" />
      <mass
        value="0.053723653115331" />
      <inertia
        ixx="1.38734408575951E-05"
        ixy="-3.52345617755245E-10"
        ixz="3.27493108847666E-06"
        iyy="2.08845419448926E-05"
        iyz="-1.34533835804723E-10"
        izz="2.8983404841045E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hill.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.254901960784314 0.215686274509804 0.192156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_hill.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_HILL"
    type="fixed">
    <origin
      xyz="-0.03162 0 -0.11123"
      rpy="0 -1.0472 3.1416" />
    <parent
      link="r_ft" />
    <child
      link="r_hill" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_to">
    <inertial>
      <origin
        xyz="-0.0310979349915773 -0.0194013791754151 2.4980018054066E-16"
        rpy="0 0 0" />
      <mass
        value="0.101633574321567" />
      <inertia
        ixx="9.63743613409718E-05"
        ixy="-2.93700603292254E-06"
        ixz="-6.40746857179009E-19"
        iyy="0.000155974991616352"
        iyz="-2.62390456486307E-19"
        izz="7.48643237352165E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_to.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_to.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_TO"
    type="revolute">
    <origin
      xyz="-0.083481 0 0.048593"
      rpy="1.5708 1.0472 0" />
    <parent
      link="r_ft" />
    <child
      link="r_to" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="r_tp">
    <inertial>
      <origin
        xyz="0.0063897 -1.2165E-08 0.0097515"
        rpy="0 0 0" />
      <mass
        value="0.085652" />
      <inertia
        ixx="4.9901E-05"
        ixy="-5.8448E-09"
        ixz="-1.7648E-06"
        iyy="5.3727E-05"
        iyz="-8.9586E-11"
        izz="9.9684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_tp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2549 0.21569 0.19216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/r_tp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_TP"
    type="fixed">
    <origin
      xyz="-0.028 -0.043 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="r_to" />
    <child
      link="r_tp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_point1">
    <inertial>
      <origin
        xyz="2.7756E-17 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="-5.3718E-24"
        ixz="-3.1524E-39"
        iyy="3.3701E-07"
        iyz="4.3838E-39"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_point1"
    type="fixed">
    <origin
      xyz="-0.037428 0.033 0.0075"
      rpy="0 0 0" />
    <parent
      link="r_tp" />
    <child
      link="R_point1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="R_point2">
    <inertial>
      <origin
        xyz="2.7756E-17 -1.3878E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="7.6101E-24"
        ixz="4.2244E-39"
        iyy="3.3701E-07"
        iyz="1.1828E-38"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_point2"
    type="fixed">
    <origin
      xyz="0.04 -0.032693 0.0075"
      rpy="0 0 0" />
    <parent
      link="r_tp" />
    <child
      link="R_point2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="R_point3">
    <inertial>
      <origin
        xyz="2.7756E-17 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="-1.9485E-23"
        ixz="-1.7562E-39"
        iyy="3.3701E-07"
        iyz="3.3341E-39"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_point3"
    type="fixed">
    <origin
      xyz="0.04 0.032693 0.0075"
      rpy="0 0 0" />
    <parent
      link="r_tp" />
    <child
      link="R_point3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="R_point4">
    <inertial>
      <origin
        xyz="2.7756E-17 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="3.805E-24"
        ixz="8.4489E-40"
        iyy="3.3701E-07"
        iyz="0"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/R_point4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_point4"
    type="fixed">
    <origin
      xyz="-0.037428 -0.0333 0.0075"
      rpy="0 0 0" />
    <parent
      link="r_tp" />
    <child
      link="R_point4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="l_hy">
    <inertial>
      <origin
        xyz="0.000211270445130002 -0.0307633663362876 -0.0464042856123114"
        rpy="0 0 0" />
      <mass
        value="0.362744860196153" />
      <inertia
        ixx="0.00121612197454797"
        ixy="1.24324848218375E-06"
        ixz="-1.79526489000503E-08"
        iyy="0.00105820555074975"
        iyz="-0.000306748612537785"
        izz="0.000681837117020169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.6 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hy.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_HY"
    type="revolute">
    <origin
      xyz="0 0.09 -0.025"
      rpy="0 0 -1.5748" />
    <parent
      link="torso" />
    <child
      link="l_hy" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_hr">
    <inertial>
      <origin
        xyz="0 0 0.0885796185674785"
        rpy="0 0 0" />
      <mass
        value="1.11972125547743" />
      <inertia
        ixx="0.00255806559374616"
        ixy="2.83091060713627E-20"
        ixz="-1.26167059214673E-19"
        iyy="0.00244660588868756"
        iyz="1.56603974491155E-19"
        izz="0.00232918495386242" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.505882352941176 0.713725490196078 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_HR"
    type="revolute">
    <origin
      xyz="0.00026 -0.064999 -0.13"
      rpy="1.5708 0 -3.1376" />
    <parent
      link="l_hy" />
    <child
      link="l_hr" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_hp">
    <inertial>
      <origin
        xyz="-0.0255643148439553 0.191641753523999 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="4.38379685452695" />
      <inertia
        ixx="0.0397258328465048"
        ixy="-0.00262481922506059"
        ixz="-3.0670018156246E-19"
        iyy="0.013597099564388"
        iyz="-8.8240115752204E-19"
        izz="0.0387332411800925" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_HP"
    type="revolute">
    <origin
      xyz="-0.0001 0 0.09"
      rpy="3.1416 1.5708 0" />
    <parent
      link="l_hr" />
    <child
      link="l_hp" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_kn">
    <inertial>
      <origin
        xyz="-0.0132004609210514 0.121917216922937 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="2.77807025175996" />
      <inertia
        ixx="0.0284705025097801"
        ixy="-0.0021509799289004"
        ixz="-5.49717094296815E-19"
        iyy="0.00443774640925793"
        iyz="4.26101990591812E-19"
        izz="0.0293092079805786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_kn.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.764705882352941 0.87843137254902 0.741176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_kn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_KN"
    type="revolute">
    <origin
      xyz="0 0.35 0"
      rpy="0 0 0" />
    <parent
      link="l_hp" />
    <child
      link="l_kn" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_ak">
    <inertial>
      <origin
        xyz="-0.00660924567798236 0.00381584977132277 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.0571830748904513" />
      <inertia
        ixx="3.24188467240924E-05"
        ixy="1.00684067870306E-06"
        ixz="2.33639361080708E-20"
        iyy="3.35814461978535E-05"
        iyz="-1.54376879655081E-20"
        izz="1.06578672815214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_ak.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4 0.2 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_ak.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_AK"
    type="revolute">
    <origin
      xyz="0 0.36 0"
      rpy="-3.1416 0 0" />
    <parent
      link="l_kn" />
    <child
      link="l_ak" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_ft">
    <inertial>
      <origin
        xyz="-0.0437269069802952 6.55927534509715E-11 -0.012271293483652"
        rpy="0 0 0" />
      <mass
        value="0.167694950970076" />
      <inertia
        ixx="0.000463468397555932"
        ixy="1.18394527737621E-10"
        ixz="0.000193843083754543"
        iyy="0.000566088226544171"
        iyz="7.7930232713205E-11"
        izz="0.000172594872419316" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_ft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.862745098039216 0.890196078431372 0.603921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_ft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_FT"
    type="revolute">
    <origin
      xyz="-0.028579 0.0165 0"
      rpy="-1.5708 0 1.0472" />
    <parent
      link="l_ak" />
    <child
      link="l_ft" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_hill">
    <inertial>
      <origin
        xyz="0.0173165306391366 1.02576669658294E-08 0.00384851618045801"
        rpy="0 0 0" />
      <mass
        value="0.0537236531153309" />
      <inertia
        ixx="1.3873440857595E-05"
        ixy="-3.52345617787748E-10"
        ixz="3.27493108847664E-06"
        iyy="2.08845419448926E-05"
        iyz="-1.34533835779139E-10"
        izz="2.8983404841045E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hill.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.254901960784314 0.215686274509804 0.192156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_hill.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_HILL"
    type="fixed">
    <origin
      xyz="-0.03162 0 -0.11123"
      rpy="0 -1.0472 3.1416" />
    <parent
      link="l_ft" />
    <child
      link="l_hill" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_to">
    <inertial>
      <origin
        xyz="-0.0310979349915711 -0.0194013791754151 2.63677968348475E-16"
        rpy="0 0 0" />
      <mass
        value="0.101633574321567" />
      <inertia
        ixx="9.63743613409719E-05"
        ixy="-2.93700603292254E-06"
        ixz="-6.38710456562553E-19"
        iyy="0.000155974991616352"
        iyz="-2.61923557935161E-19"
        izz="7.48643237352165E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_to.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_to.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_TO"
    type="revolute">
    <origin
      xyz="-0.083481 0 0.048593"
      rpy="1.5708 1.0472 0" />
    <parent
      link="l_ft" />
    <child
      link="l_to" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="l_tp">
    <inertial>
      <origin
        xyz="0.0063897 -1.2165E-08 0.0097515"
        rpy="0 0 0" />
      <mass
        value="0.085652" />
      <inertia
        ixx="4.9901E-05"
        ixy="-5.8448E-09"
        ixz="-1.7648E-06"
        iyy="5.3727E-05"
        iyz="-8.9586E-11"
        izz="9.9684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_tp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2549 0.21569 0.19216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/l_tp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_TP"
    type="fixed">
    <origin
      xyz="-0.028 -0.043 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="l_to" />
    <child
      link="l_tp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_point1">
    <inertial>
      <origin
        xyz="0 1.3878E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="1.191E-23"
        ixz="-3.9774E-38"
        iyy="3.3701E-07"
        iyz="-4.7639E-38"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_point1"
    type="fixed">
    <origin
      xyz="-0.037428 0.033 0.0075"
      rpy="0 0 0" />
    <parent
      link="l_tp" />
    <child
      link="L_point1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="L_point2">
    <inertial>
      <origin
        xyz="0 1.3878E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="3.6136E-24"
        ixz="-3.851E-37"
        iyy="3.3701E-07"
        iyz="2.2204E-37"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_point2"
    type="fixed">
    <origin
      xyz="0.04 0.032693 0.0075"
      rpy="0 0 0" />
    <parent
      link="l_tp" />
    <child
      link="L_point2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="L_point3">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="1.7524E-23"
        ixz="4.7964E-38"
        iyy="3.3701E-07"
        iyz="2.1165E-38"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_point3"
    type="fixed">
    <origin
      xyz="0.04 -0.032693 0.0075"
      rpy="0 0 0" />
    <parent
      link="l_tp" />
    <child
      link="L_point3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="L_point4">
    <inertial>
      <origin
        xyz="0 6.9389E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.0063706" />
      <inertia
        ixx="3.3701E-07"
        ixy="1.9025E-24"
        ixz="-1.8209E-38"
        iyy="3.3701E-07"
        iyz="7.0989E-39"
        izz="3.3701E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Allex_RL_Model_4_contact_point/meshes/L_point4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_point4"
    type="fixed">
    <origin
      xyz="-0.037428 -0.0333 0.0075"
      rpy="0 0 0" />
    <parent
      link="l_tp" />
    <child
      link="L_point4" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>